<ion-header>
  <ion-navbar>
    <ion-title>
      故事
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="bg-white" *ngFor="let story of stories" (click)="toStoryDetailPage(story.id)">
    <img *ngIf="story.picture != null" [src]="story.picture">

    <ion-card-content>
      <p>{{story.description}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col text-right padding class="text-gray">
        <small>{{story.createdTime | shortTime}}</small>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
