<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #infoForm="ngForm">
    <div class="avatarDiv" padding-left>
      <img class="infoAvatar" width="80" height="80" [src]="user.avatar">
      <p padding-top>
        <button ion-button type="button" small outline color="light">更换头像</button>
      </p>
    </div>
    <ion-item class="form-bg-color">
      <ion-label stacked>昵称&nbsp;
        <span class="error" *ngIf="name.errors && (name.dirty)">请填写昵称，且长度为1~20位</span>
      </ion-label>
      <ion-input type="text" #name="ngModel" required [(ngModel)]="user.name" name="name" minlength="1"
                 maxlength="20"></ion-input>
    </ion-item>
    <ion-item class="form-bg-color">
      <ion-label stacked>手机号&nbsp;
        <span class="error" *ngIf="mobile.errors && (mobile.dirty)">请填写正确的手机号</span>
      </ion-label>
      <ion-input type="text" #mobile="ngModel" required [(ngModel)]="user.mobile" name="mobile"
                 pattern="^1(3[0-9]|4[57]|5[0-35-9]|7[01678]|8[0-9])\\d{8}$"></ion-input>
    </ion-item>
    <ion-item class="form-bg-color">
      <ion-label stacked>邮箱&nbsp;
        <span class="error" *ngIf="email.errors && (email.dirty)">请填写正确的邮箱地址</span>
      </ion-label>
      <ion-input type="email" #email="ngModel" required [(ngModel)]="user.email" name="email"
                 pattern="^[a-zA-Z0-9_\.]+@[a-zA-Z0-9-]+[\.a-zA-Z]+$"></ion-input>
    </ion-item>
    <ion-item class="form-bg-color">
      <ion-label stacked>自我简介&nbsp;
        <span class="error" *ngIf="introduce.errors && (introduce.dirty)">内容长度不能超过50位</span>
      </ion-label>
      <ion-textarea [(ngModel)]="user.introduce" #introduce="ngModel" name="introduce" maxlength="50"></ion-textarea>
    </ion-item>
    <p>
      <button ion-button color="light" margin-top outline block [disabled]="!infoForm.valid" (click)="updateInfo()">保&nbsp;存</button>
    </p>
  </form>
</ion-content>
