blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #94785e;
}

.articleHeader {
  text-align: center;
  ion-note{
    color: #7f7f7f;
  }
}

.voted{
  color: #ecc7bf;
}
