<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #passwordForm="ngForm">
      <ion-item class="form-bg-color">
        <ion-label stacked>旧密码&nbsp;
          <span class="error" *ngIf="oldPwd.errors && (oldPwd.dirty)">请填写密码，且长度为6~12位
          </span>
        </ion-label>
        <ion-input type="password" #oldPwd="ngModel" required minlength="6" maxlength="12" [(ngModel)]="oldPassword"
                   name="oldPassword"></ion-input>
      </ion-item>
      <ion-item class="form-bg-color">
        <ion-label stacked>新密码&nbsp;
          <span class="error" *ngIf="newPwd.errors && (newPwd.dirty)">请填写密码，且长度为6~12位
          </span>
        </ion-label>
        <ion-input type="password" #newPwd="ngModel" required minlength="6" maxlength="12" [(ngModel)]="newPassword"
                   name="newPassword"></ion-input>
      </ion-item>
      <ion-item class="form-bg-color">
        <ion-label stacked>确认密码&nbsp;
          <span class="error" *ngIf="confirmPwd.errors && (confirmPwd.dirty)">
            请填写密码，且长度为6~12位
          </span>
          <span class="error" *ngIf="!confirmPwd.errors && newPassword != confirmPassword && (confirmPwd.dirty)">
            两次输入密码不一致
          </span>
        </ion-label>
        <ion-input type="password" #confirmPwd="ngModel" required minlength="6" maxlength="12" [(ngModel)]="confirmPassword"
                   name="confirmPassword"></ion-input>
      </ion-item>
      <p>
        <button margin-top ion-button color="light" outline block [disabled]="!passwordForm.valid || newPassword != confirmPassword " (click)="updatePassword()">保&nbsp;存</button>
      </p>
  </form>
</ion-content>
