<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #passwordForm="ngForm">
      <ion-item>
        <ion-label stacked>旧密码&nbsp;
          <small class="error" *ngIf="oldPwd.errors && (oldPwd.dirty || oldPwd.touch)">请填写密码，且长度为6~12位
          </small>
        </ion-label>
        <ion-input type="password" #oldPwd="ngModel" required minlength="6" maxlength="12" [(ngModel)]="oldPassword"
                   name="oldPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>新密码&nbsp;
          <small class="error" *ngIf="newPwd.errors && (newPwd.dirty || newPwd.touch)">请填写密码，且长度为6~12位
          </small>
        </ion-label>
        <ion-input type="password" #newPwd="ngModel" required minlength="6" maxlength="12" [(ngModel)]="newPassword"
                   name="newPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>确认密码&nbsp;
          <small class="error" *ngIf="confirmPwd.errors && (confirmPwd.dirty || confirmPwd.touch)">
            请填写密码，且长度为6~12位
          </small>
          <small class="error" *ngIf="!confirmPwd.errors && newPassword != confirmPassword && (confirmPwd.dirty || confirmPwd.touch)">
            两次输入密码不一致
          </small>
        </ion-label>
        <ion-input type="password" #confirmPwd="ngModel" required minlength="6" maxlength="12" [(ngModel)]="confirmPassword"
                   name="confirmPassword"></ion-input>
      </ion-item>
      <p>
        <button ion-button block [disabled]="!passwordForm.valid || newPassword != confirmPassword " (click)="updatePassword()">保存</button>
      </p>
  </form>
</ion-content>
