<ion-content class="list-avatar-page">
  <ion-list>
    <ion-list-header>
      评论（{{comments.length}}）
    </ion-list-header>

    <ion-item *ngFor="let comment of comments">
      <ion-avatar item-left>
        <img src="comment.avatar">
      </ion-avatar>
      <h2>{{comment.user.avatar}}</h2>
      <p>{{comment.content}}</p>
      <ion-row>
        <ion-col text-left>
          {{comment.createdTime}}
        </ion-col>
        <ion-col text-center>
          <ion-icon name="thumbs-up"></ion-icon>
          <span *ngIf="comment.vote>0">&nbsp;{{comment.vote}}</span>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
