.commentItem{
  background-color: rgba(64, 49, 49,0.8) !important;
}

.voted{
  color: #ecc7bf !important;
}

.vote{
  color: #d1bfa7 !important;
}

.nameColor{
  color: #a1bad0 !important;
}

.contentColor{
  color: white !important;
}

.timeColor{
  color: #866667 !important;
}

.list-md .item-block .item-inner{
  border-bottom: 1px solid #9e8072;
}

