<ion-header>
  <ion-navbar>
    <ion-title>
      文章
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let article of articles" (click)="toArticleDetailPage(article.id)">
    <img *ngIf="article.coverImg != null" [src]="article.coverImg">

    <ion-card-content>
      <ion-card-title>
        {{article.title}}
      </ion-card-title>
      <p>{{article.summarize}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col text-right padding>
        <small>{{article.createdTime | shortTime}}</small>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
